body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

.nav-container {
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 800px;
}

.logo-text,
.call-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 400;
}

.link-container {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #e5e7eb;
  gap: 25px;
}

.hero-container {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 300px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
}

.text-container {
  max-width: 20%;
}

.header-button {
  font-size: 18px;
  background-color: #3882f6;
  color: white;
  padding: 7px;
  border-radius: 0.5rem;
  width: 150px;
  margin-top: 15px;
  cursor: pointer;
}

.scenery-img {
  max-width: 35%;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  margin-top: 50px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
  padding-bottom: 130px;
}

.card {
  height: 180px;
  width: 180px;
  border: 5px solid #3882f6;
  border-radius: 15px;
  margin-bottom: 15px;
}

.subtext {
  text-align: center;
  color: #e5e7eb;
  font-size: 18px;
}

.quote-container {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 800px;
}

.quote-italic {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 400;
}

.author {
  text-align: end;
  color: #1f2937;
  font-size: 24px;
  font-weight: 800;
}

.container-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.signUp {
  display: flex;
  flex-direction: row;
  background-color: #3882f6;
  height: 180px;
  width: 1050px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.subtext-2 {
  color: #e5e7eb;
  font-size: 18px;
}

.call-text {
  font-weight: 600;
}

.btn-signup {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 7px;
  padding: 5px;
  color: white;
  font-size: 18px;
  width: 140px;
  cursor: pointer;
}